#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_build:
	$(MAKE) all
	
#override_dh_auto_install:
#	$(MAKE) install DESTDIR=$(CURDIR)/debian/purple-line

override_dh_strip:
	dh_strip --dbg-package=purple-line-dbg

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

#comment out command if you don't want to build clean every time.
override_dh_auto_clean:
	$(MAKE) clean
	rm -rf libpurple/.depend
	dh_clean

override_dh_pysupport:
	dh_python2
